/web/bundles/
/web/css/
/web/js/
/web/maintenance.lock
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/data/data.db3
/app/data/test.db3
!/app/data/.gitkeep
/vendor/
/bin/
/composer.phar
/.vagrant
/.idea
/build/backup/*
!build/backup/.gitkeep
/build/tests/behat/*
!build/tests/behat/.gitkeep
/build/tests/phpunit/*
!build/tests/phpunit/.gitkeep
/web/uploads/media/*
!web/uploads/media/.gitkeep

# Docker
.composer/
.phpstorm_helpers/
.bash_history